body{
    background: url("../images/mine3.jpg"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 2000px;
}

.col-md-12{
    color: #fff;
    padding: 30px 0;
    font-size: 40px;
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
}

.instructions-div{
    color: #fff;
    padding: 0px 0 20 0;
    font-size: 20px;
    margin: 0 0 10px 0;
    border: 2px solid;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    text-align: left;
}

h2{
    color: #fff;
    font-size: 28px;
    font-family: 'Lato', sans-serif;
}

.col-md-4{
    color: #fff;
    background-color: darkorchid;
    font-size: 26px;
    margin: 0 5px 10px 0;
    font-family: 'Lato', sans-serif;
}

#wins-losses{
    color: #fff;
    background-color: darkcyan;
    margin: 0 5px 10px 0px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

.col-md-3{
    margin: 0 0 10px 0;
    font-family: 'Lato', sans-serif;
}

.img-thumbnail{
    width: 300px;
    height: 150px;
}
